body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.calendar {
  display: flex;
  flex-direction: column;
}
.calendar__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.calendar__header {
  background: grey;
  color: white;
  font-weight: bold;
  padding: 20px 0;
}
.calendar__header > div {
  width: 14.285%;
  text-align: center;
}
.calendar__month {
}
.calendar__week {
}
.calendar__day {
  text-align: center;
  width: 14.285%;
  min-height: calc((100vh / 6) + 0px);
  border: 1px solid grey;
  margin-bottom: -1px;
  margin-right: -1px;
}

.reminder {
  border-radius: 2px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.13);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3px 6px;
  margin: 3px;
}
.reminder__delete {
  color: red;
  right: 0;
}
